body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.add-container {
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
button {
    cursor: pointer;

}
ion-icon{
    cursor: pointer;
    padding: 5px;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input {
    width: 80%;
    padding: 8px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
.form-group textarea {
    width: 80%;
    padding: 8px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    resize: none;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #66cc66;
    color: #ffffff;
}
.button-save {
    cursor: pointer;
    background-color: #54cb3f;
    color: #ffffff;
}
.button-cancel {
    cursor: pointer;
    background-color: #ea0e0e;
    color: #ffffff;
}
.required::before {
    content: '* ';
    color: red;
}
.error {
    color: red;
    font-style: italic;
    font-size: 12px;
}
h5 {
    text-align: center;
    color:#66cc66;
}
.return {
    display: flex;
    align-items: center;
    justify-content: center;
}